.container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  /* Form field styling */
  .form-group {
    margin-bottom: 10px;
    max-width: 95%;
    /* align-items: center; */
  }
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="mobile"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  /* Button styling */
  .button {
    text-align: center;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Link styling */
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }