.login-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
  }
  /* Apply a common style to headings */

  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
    max-width: 95%;
    align-items: center;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    text-align: center;
    color: #000;
  }
  
  button {
    background-color: #17f835;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #373839;
  }